# Copie: cp .env.example .env

# Versão do Elastic Stack. Consulte: https://www.elastic.co/downloads/elasticsearch
STACK_VERSION=9.4.3
ELASTIC_PASSWORD=onp-elastic-2026!
KIBANA_PASSWORD=onp-kibana-2026!
